 body, 
 html {
    width: 100%;
    height: 100%;
    background: url("https://pedromn0.github.io/startup-test/.header.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }  

h1{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: paleturquoise;
    display: flex;
    align-items: center;
}

hr{
    max-width: 65px;
    height: 3px;
    border-radius: 100px;
    background-color: #120a41;
    border-color: #120a41;
}

.buffer{
    height: 10rem;
}

.btn{
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary{
    background-color: #120a41;
    color: #ffa600e7;
    border-color: #120a41;
    transition: ease 250ms;
    transition-duration: 700ms;
}

.btn-xl {
   padding: 1rem 2rem;
}

.btn:hover{
    background-color: #e21369;
    color: #120a41;
    border-color: #e21369;
    transform: scale(1.07);
}
